@if (pokemon() === null) {
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold">Loading...</h1>
  </div>
} @else {
  @let currPokemon = pokemon()!;
  <section class="flex flex-col justify-center">
    <div class="flex justify-center">
      <h1 class="text-4xl font-bold capitalize my-5">{{ currPokemon.name }}</h1>
    </div>
  </section>
  <section class="flex flex-col justify-center items-center w-full">
    <img
      [src]="currPokemon.sprites.other?.['official-artwork']?.front_default"
      [alt]="currPokemon.name"
      class="w-64 h-64"
      width="256px"
      height="256px"
    />
    @if (currPokemon.cries.latest !== null) {
      <audio>
        <source [src]="currPokemon.cries.latest" type="audio/wav" />
      </audio>
    } @else {
      <div class="flex justify-center">
        <h1 class="text-4xl font-bold text-white">Sin audio</h1>
      </div>
    }
  </section>
}
