<nav
  class="text-white top-0 absolute z-50 w-full flex justify-end gap-4 px-2 py-3 bg-slate-900 shadow-md"
>
  <a
    class="cursor-pointer hover:underline"
    routerLink="/about"
    routerLinkActive="text-blue-300 underline"
    >About</a
  >
  <a
    class="cursor-pointer hover:underline"
    routerLink="/pokemon/page/1"
    routerLinkActive="text-blue-300 underline"
    >Pokemon</a
  >
  <a
    class="cursor-pointer hover:underline"
    routerLink="/pricing"
    routerLinkActive="text-blue-300 underline"
    >Pricing</a
  >
  <a
    class="cursor-pointer hover:underline"
    routerLink="/contact"
    routerLinkActive="text-blue-300 underline"
    >Contact</a
  >
</nav>
